body   {  background-image: linear-gradient(to left, red , black);}

body {padding-left: 0pc;
  padding-right: 24pc;
}

body .topnav{
    margin-left:475px;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: inherit;
    letter-spacing: 2px;
    font-family: 'Ramabhadra', sans-serif;
    font-style: bold;
   }

  .topnav {
    overflow: hidden;
    background-color:;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 30px 100px;
    text-decoration: none;
    font-size: 30px;


  }

  {
    box-sizing: border-box;
  }

 
.container {
    position: relative;
    text-align: center;
    color: white;
  }
 

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  img {
    -webkit-filter: blur(5px); 
    filter: blur(5px);
  }

  img {
    height: 450px;
    width: 350px;
    object-fit: cover;
    padding: 20px;
    
  }

  body .centered {text-align: center;}
  body .centered { padding: 10px;
                  margin: 10px
                }
body .centered {font-family:'Strait', sans-serif;
              color: lavender;
              font-size: 60px;
              }
              .cover {object-fit: cover;}

              }


body              {
      font: 20px 'serif';
      }
    #editor1 {
      border: 3px inset white;
      height: 150px;
      width: 500px;
      margin: 10px auto 0;
     }
    fieldset {
      margin: 2px auto 15px;
      width: 358px;
    }
    button {
      width: 5ex;
      text-align: center;
      padding: 1px 3px;
    }


#textarea{
max-width: 300px;
max-height: 200px;}
